<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">LOGO</a>
      <nav class="navbar navbar-dark bg-secondaryn">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="anasayfa">Ansayfa</a>
          </li>
          <li class="nav-item" aria-current="page">
            <a class="nav-link" routerLink="hakkimizda">Hakkımızda</a>
          </li>
          <li class="nav-item" aria-current="page">
            <a class="nav-link" routerLink="iletisim">İletişim</a>
          </li>
        </ul>
        <div class="nav-item">
          <a (click)="toggleLogin()" class="nav-link" routerLink="login" value="Giriş Yap">
            Giriş Yap
          </a>
        </div>
      </div>
    </div>
  </nav>
  
