<h1 class="visually-hidden">Sidebars examples</h1>
<main>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
    style="width: 280px; height:auto;"
  >
    <a
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-white text-decoration-none
      "
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Sidebar Listesi</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          HOME
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/role" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          ROLE
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/user" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          USER
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/data-binding" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          DATA-BİNDİNG
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/storage" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          STORAGE
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/directives" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          DİRECTİVES
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/pipes" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          PİPES
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/parents" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          PARENTS
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a routerLink="/angular-forms" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          FORMS
        </a>
      </li>

      <hr />
      <li class="nav-item">
        <a routerLink="/map" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          MAP
        </a>
      </li>

      <hr />
      <li class="nav-item">
        <a routerLink="/h-http" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          HHTTP
        </a>
      </li>

    </ul>
  </div>
</main>
